@font-face {
  font-family: 'iconfont';
  src: url('iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhiwu:before {
  content: '\f00ac';
}

.icon-gouwuchexuanzhong:before {
  content: '\f0131';
}

.icon-sousuo:before {
  content: '\e622';
}

.icon-sousuo1:before {
  content: '\e647';
}

.icon-wode:before {
  content: '\e613';
}

.icon-zhengce:before {
  content: '\e604';
}

.icon-nan:before {
  content: '\e8b3';
}

.icon-nv:before {
  content: '\e8b4';
}

.icon-APIjishi:before {
  content: '\e649';
}

.icon-shitu:before {
  content: '\e605';
}

.icon-zhongcaoyaojidi:before {
  content: '\e506';
}

.icon-wodeshujia:before {
  content: '\e63e';
}

.icon-caoyaofang1:before {
  content: '\e501';
}

.icon-a-05-jingdianyaofang:before {
  content: '\e79a';
}

.icon-zhishideng-green:before {
  content: '\e505';
}

.icon-fangjiku:before {
  content: '\e507';
}
